.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar{
    min-width: 300px;
    max-width: 300px;
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
    transition: margin 700ms;
}

#sidebar.active {
    margin-left: -300px;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.sidebar-item {
  padding-left: 100px;
  font-size: 19px;
  color: #30302f;
  height:55px;
  text-align:center;
}


.sidebar-item:hover{
  background: #dedede;
  color: #525252;
  text-decoration: none;
}

.sidebar-button {
  margin-top:40px;
  margin-left:30px;
  margin-right:30px;
  border-radius: 30px;
  padding-left: 100px;
  font-size: 22px;
  color: #30302f;
  text-align:center;
}
.sidebar-button:hover{
  background: #dedede;
  color: #525252;
  text-decoration: none;
}
.fa-plus-circle{
  margin-end:20px;
  color: #5e5e5e;
}
