<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit User - DuoBk</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a class="nav-item nav-link" href="/tasks">Tasks</a>
            </li>
            <li>
                <a class="nav-item nav-link" href="#">Rules</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item"  href="/admin/books">Books</a>
                    <a class="dropdown-item"  href="/admin/authors">Authors</a>
                    <a class="dropdown-item"  href="/admin/tasks">Tasks</a>
                    <a sec:authorize="hasRole('ROLE_SUPERADMIN')" class="dropdown-item" id="adminUsers" href="/admin/users">Users</a>
                    <a class="dropdown-item"  href="/admin/books/create">Create Book</a>
                    <a class="dropdown-item"  href="/admin/tasks/create">Create Task</a>
                    <a class="dropdown-item" href="/admin/authors/create">Create Author</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" id="logout">Exit</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid" id="formcontainer">
    <form method="POST" id="userForm">
        <div class="form-row" id="form_row1">
            <div class="col-sm-12 form-group">
                <label id="roleLabel" for="role">Role:</label>
                <input id="role" type="text" class="form-control" name="userType">
            </div>
        </div>
        <div class="form-row" id="form_row3">
            <button type="submit" class="btn btn-primary" id="submitUserInfo">Save</button>
        </div>
    </form>
</div>
<script type="text/javascript" src="/js/csrf.js"></script>
<script type="text/javascript" src="/js/user-edit.js"></script>
<script type="text/javascript" src="/js/userdata.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
</body>
</html>